*{
  margin: 0;
}

body{
    background-image: url("/imagenes/shadoww.jpg");
    backdrop-filter: brightness(30%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    min-height: 100dvh;
    
  }

  .TITULO {
    display: flex;
    justify-content: center;
    background: 50% 100%/50% 50% no-repeat radial-gradient(ellipse at bottom, #fff, transparent, transparent);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 10vw;
    font-family: "Source Sans Pro", sans-serif;
    -webkit-animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
            animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
}
  @-webkit-keyframes reveal {
    80% {
      letter-spacing: 8px;
    }
    100% {
      background-size: 300% 300%;
    }
}
  @keyframes reveal {
    80% {
      letter-spacing: 8px;
    }
    100% {
      background-size: 300% 300%;
    }
 }
  @-webkit-keyframes glow {
    40% {
      text-shadow: 0 0 8px #fff;
    }
}
  @keyframes glow {
    40% {
      text-shadow: 0 0 8px #fff;
    }
}


.CONTENEDOR{
 
  gap: 10px;
  display: flex;
  margin: 40px 80px 0 30px;
  width: 95%;
  justify-content: center;
}


.inicio{
  display: flex;
  margin: 30px 30px 0 30px;
  justify-content: center;
}
.contenedor{
  justify-content: center;
  
  gap: 10px;
  display: flex;
  margin: 20px 30px 0 30px;
  
  width: 95%;
}
  
 /*___________________________________CARD1___________________________________*/
.card{
  justify-content: center;
  display:flex;
 
  width: 190px;
  height: 280px;

  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  transition: width 1.1s, height 1.1s, transform 1.1s;
        -moz-transition: width 1.1s, height 1.1s, -moz-transform 1.1s;
        -webkit-transition: width 1.1s, height 1.1s, -webkit-transform 1.1s;
        -o-transition: width 1.1s, height 1.1s,-o-transform 1.1s; 
}
.card figure{
    position: relative;
    width: 190px;
    height: 280px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgb(0, 0, 0,0.50);
    cursor: pointer;
}
.card figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
    
}
.card figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background:rgb(120, 120, 120,0.6);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
  }
    
.card figure:hover> .capa{
    opacity: 1;
    visibility: visible;
   
}
.card figure:hover> .capa h1{
    margin-top: 20px;
    margin-bottom: 10px;

}
.card figure .capa h1{
  background: 50% 100%/50% 50% no-repeat radial-gradient(ellipse at bottom,#fff, transparent, transparent);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 2em;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
          animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
     transition: all 600ms ease-out;
}

.card figure .capa p{
    color: white;
    font-size: 12px;
    line-height: 1.2;
    width: 100%;
    transform: translateY(0);
  
}

.card:hover{
  transform: scale(1.1);
  -webkit-transform:scale(1.1);
  transform:scale(1.1)
}
.card img{
  width: 190px;
  height: 254px;
}
/*___________________VERLO*/
.verlo{
  padding: 3em;
  display: flex;
  justify-content: center;
}
button {
  padding: 0.9em 1.8em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 4px;
  color: transparent;
  border: 3px solid #FFF;
  font-size: 14px;
  position: relative;
  font-family: inherit;
  background: transparent;
  cursor: pointer;
}

button::before {
  content: "VERLO";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #363636;
  color: #ffF;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

button:hover::before {
  left: 100%;
  transform: scale(0) rotateY(360deg);
  opacity: 0;
}

button::after {
  content: "VERLO AHORA!";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #b8c0ff;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  transform: scale(0) rotateY(0deg);
  opacity: 0;
}

button:hover::after {
  left: 0;
  transform: scale(1) rotateY(360deg);
  opacity: 1;
}
.video{
  display: flex;
  justify-content: center;
}
.video video{
  display: flex;
  justify-content: center;
  
}


